/* SECTIONS/DIVS & GROUPS */
body {
  margin: 3rem 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #6B6C6D;
}

header {
  text-align: right;
  margin-bottom: 1rem;
}

footer {
  margin-top: 2rem;
}

.footer-line {
  height: 2px;
  background-color: #B6B7BB;
  margin-bottom: 2rem;
}

#nav-main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 0.1rem;
  margin-top: 2.25rem;
  display: inline-block;
}

#nav-main a {
  color: #A7A9AC;
  padding: 0.5rem 1.25rem;
}

#landing {
  margin-top: 10rem;
  text-align: center;
}

.content {
  margin-top: 5rem;
}

.figure {
  display: block;
}

.bio {
  display: inline-block;
  width: 50%;
  max-width: 35rem;
  margin-left: 2.25rem;
}

.img {
  display: inline-block;
}


/* LINKS & ELEMENTS */
a {
  text-decoration: none;
}

a:hover, a:active, a:focus {
  opacity: 0.5;
}

#nav-main a.active {
  /* color: #A7D2C9; */
  opacity: 0.5;
}


/* IMAGES */

#doodles {
  display: block;
}

#projects {
  text-align: center;
  margin-top: 4rem;
}

#img-logo {
  width: 4rem;
  float: left;
}

.img-me-doodle {
  width: 7rem;
}

#karate-iz {
  margin-left: 1rem;
}

.img-thumbnail {
  margin: 1rem 1rem;
}

#img-about {
  width: 20rem;
}

#img-hey-there {
  position: absolute;
  margin-left: 1rem;
  margin-top: 5rem;
}


/* TEXT & HEADINGS */
.page-header {

}

.section-header {
  font-weight: 600;
  color: #A7D2C9;
  letter-spacing: 0.1rem;
}

.sub-header {

}

.body-copy {
  font-weight: 300;
}

.footer-copy {
  font-size: 0.75rem;
}

.slogan {
  display: inline-block;
  padding: 0 0.5rem;
}


/* MEDIA QUERIES */
@media (max-width: 69.3125rem) {
  #img-hey-there {
    margin-top: 4rem;
  }
}

@media (max-width: 62.3125rem) {
  #img-hey-there {
      margin-top: 3rem;
  }
}

@media (max-width: 57rem) {
  #img-hey-there {
    margin-top: 1rem;
  }

  .bio {
    width: 45%;
  }
}

@media (max-width: 52.9375rem) {
  #img-hey-there {
    position: relative;
    display: block;
    margin-left: 0;
  }

  .bio {
    width: 67%;
    margin-top: -2.25rem;
    margin-left: 6rem;
  }
}

@media (max-width: 41.375rem) {
  body {
    margin: 3rem 4rem;
  }
}

@media (max-width: 38.9375rem) {
  body {
    margin: 3rem 4rem;
  }

  header {
    text-align: center;
  }

  #img-logo {
    float: none;
  }

  #nav-main {
    display: block;
  }

  .section-header {
    display: block;
  }

  .img-me-doodle {
    width: 6rem;
  }

  #landing {
    margin-top: 7rem;
  }
}

@media (max-width: 37.25rem) {
  body {
    margin: 3rem 2rem;
  }
}

@media (max-width: 33rem) {
  body {
    margin: 3rem 2rem;
  }

  #landing {
    margin-top: 6rem;
  }

  .img-me-doodle {
    width: 5rem;
  }
}

@media (max-width: 24.0625rem) {
  .bio {
    width: 100%;
    margin-top: -2.25rem;
    margin-left: 0rem;
  }

  #img-hey-there {
    z-index: -1;
  }

  .img-about {
    width: 100%;
  }
}
