/* SECTIONS/DIVS & GROUPS */
body {
  margin: 3rem 6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #6B6C6D;
}

header {
  /* text-align: right; */
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1.25px solid #DEE2E8; */
}

footer {
  margin-top: 2rem;
}

/* section {
  margin-top: 3rem;
} */

.sub-section {
  margin-left: 2rem;
}

.footer-line {
  height: 2px;
  background-color: #B6B7BB;
  margin-bottom: 2rem;
}

.nav-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  display: inline-block;
  text-transform: uppercase;
  color: #A7A9AC;
  padding: 0.5rem 1.25rem;
}

nav#nav-main {
  /* margin-top: 2rem; */
  padding-top: 1.75rem;
  /* margin-left: 65% */
  float: right;
}

/* when hamburger icon clicked, make menu visible */
#menu-toggle input:checked ~ div#menu {
  width: 41rem;
  height: 100rem;
  margin-top: -7rem;
  margin-left: -31rem;

  opacity: 1;
  display: block;
  visibility: visible;
}

#menu {
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
  text-align: center;
  padding-top: 15rem;

  background: #A7D2C9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* transition found at: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  transition: height 0.2s ease-out;
}

/* CSS only hamburger menu found at https://codepen.io/erikterwan/pen/EVzeRP
because the js one we learned in class required refreshing the page & we were
hoping to do one that does not require that */

nav#nav-ham {
  display: none;
}

nav#nav-ham span {
  margin-left: 95%;
  background: #DEE2E8;
}

nav#nav-ham input {
  margin-left: 90%;
}


#menu-toggle {
  display: block;
  position: relative;

  float: right;
  margin-right: 2rem;
  margin-top: 1.75rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input {
  display: block;
  width: 2rem;
  height:2rem;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* the three lines of the menu icon/symbol-- not sure if 'span' is semantic but this is how the tutorial does it and i think we need this in order to animate properly */

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #DEE2E8;
  border-radius: 3px;

  z-index: 1;

  transform-origin: rotate(45deg);

  transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.22s ease;
}


#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the lines of hamburger into an x */
/* transform the top line */
#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, 9px);
  background: white;
}

/* hide the middle line */
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* transform bottom line */
#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 4px);
}

#landing {
  padding-top: 10rem;
  text-align: center;
}

#home-blurb {
  display: block;
  width: 50%;
  margin-left: 25%;
  line-height: 2rem;
  margin-top: 0rem;
}

#doodles {
  display: block;
}

#page-content {
  padding-top: 3rem;
}

#projects {
  display: block;
  text-align: center;
  margin-top: 12rem;
}

.content {
  margin-top: 5rem;
}

.figure {
  display: block;
}

.bio {
  display: block;
  text-align: center;
  /* width: 50%;
  max-width: 35rem;
  margin-left: 2.25rem;
  margin-bottom: 5rem;
  margin-right: 1rem; */
}

.single-doodle {
  display: block;
  /* margin-top: -3rem; */
}

.img-grid {
  display: block;
  text-align: center;
  margin-top: 3rem;
}

.project {
  display: inline-block;
  width: 47.5%;
  height: 20rem;
  /* height: 30%; */
  margin: 0.5rem 0.5rem;
  /* background-color: #A7A9AC; */
  /* max-height: 35rem; */
  overflow: hidden;
  /* vertical-align: center; */
}

.proj-page {
  display: block;
  text-align: center;
}

.proj-blurb {
  position: absolute;
  margin-left: 3rem;
  margin-top: -15rem;
  max-width: 30rem;
  line-height: 1.45rem;
}

.proj-details {
  margin-top: 3rem;
  margin-left: 3rem;
}

.proj-listing {
  max-width: 45rem;
  margin: auto;
  margin-bottom: 6rem;
}




/* LINKS & ELEMENTS */
a {
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

a:hover, a:active, a:focus {
  color: #DEE2E8;
}

#nav-main a.active {
  color: #DEE2E8;
}

#menu a {
  color: white;
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 1.5rem;
}

#menu a:hover, #menu a:active, #menu a:focus {
  color: #DEE2E8;
}

.overlay-mint:active, .overlay-mint:hover, .overlay-mint:focus {
  opacity: 0.8;
}

.in-text-link {
  color: #A7D2C9;
}

/* css on how to create a "down arrow" found at https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #A7D2C9;

  margin-top: 6rem;
  display: block;
  margin-left: 48%;

  -webkit-transition: border-top-color 0.2s ease-out;
  transition: border-top-color 0.2s ease-out;
}

.arrow-down:hover, .arrow-down:focus, .arrow-down:active {
  border-top-color: #DEE2E8;
}






/* IMAGES */

#img-logo {
  width: 4rem;
  /* display: inline-block; */
  float: left;
}

.img-me-doodle {
  width: 7rem;
}

#karate-iz {
  margin-left: -0.5rem;
}

#waving-iz {
  margin-right: -1rem;
}

#waving-iz-about {
  width: 10rem;
  /* margin-left: -2rem; */
  /* margin-top: -5rem; */
  /* position: absolute; */
}

.img-thumbnail {
  width: 100%;
}

#img-about {
  width: 20rem;
}

.img-proj-feature {
  width: 100%;
  margin-top: -5rem;
}

.img-proj-preview {
  width: 100%;
  margin-top: -5rem;
}

.img-proj {
  height: 40rem;
  overflow: hidden;
  max-width: 100%;
  margin-top: 2rem;
}

.proj-1 {
  margin-top: -115%;
  /* margin-left: -10%; */
}

.proj-2 {
  margin-top: -100%;
  margin-left: -12%;
  width: 125%;
}

.overlay {
  background-color: white;
  opacity: 0.15;
}

.overlay-mint {
  /* position: absolute; */
  background-color: #A7D2C9;
  opacity: 0;
  height: 100%;
  margin: 0;

  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.img-proj-details {
  /* margin-top: 3rem; */
  max-width: 45rem;
  display: inline-block;
}

.brochure-cover {
  width: 105%;
}



/* TEXT & HEADINGS */

.section-header {
  font-weight: 300;
  color: #A7D2C9;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  /* text-align: left; */
  /* margin-left: 3rem; */
}

.proj-sub-header {
  font-weight: 300;
  color: #A7A9AC;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  display: block;
  text-transform: uppercase;
  margin-top: 8rem;
  margin-bottom: auto;
}

.sub-header {
  font-weight: 400;
  color: #A7A9AC;
  letter-spacing: 0.05rem;
  text-transform: lowercase;
}

.home-blurb-header {
  font-weight: 300;
  color: #A7A9AC;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  display: block;
  text-transform: uppercase;
  margin-top: 0rem;
  margin-bottom: auto;
}

.body-copy {
  font-weight: 300;
  margin-bottom: 2rem;
}

.proj-copy {
  display: inline-block;
  text-align: left;
  max-width: 45rem;
  margin-left: 2rem;
  margin-top: 2rem;
  line-height: 1.75rem;
}

.bio-copy {
  display: inline-block;
  text-align: left;
  max-width: 40rem;
  margin-left: 2rem;
}

.contact-copy {
  margin-top: 2rem;
}

.footer-copy {
  font-size: 0.75rem;
}

.title {
  font-weight: 400;
  color: #444;
  margin-top: 2rem;
  margin-bottom: -0.5rem;
  /* text-transform: uppercase; */
}

.mint {
  color: #A7D2C9;
}

.proj-details p {
  display: inline-block;
  max-width: 40%;
  padding: 0rem 3rem;
  line-height: 1.45rem;
}

.proj-title h3 {
  line-height: 1.5rem;
}

.contact-h3 {
  margin-top: -1.25rem;
}

.contact-copy p {
  display: inline;
}

.bio .section-header {
  margin: 0;
  text-align: center;
}

.sub-script {
  font-weight: 400i;
  color: #A7A9AC;
  margin-top: -0.5rem;
  line-height: 1.5rem;
}

.list-proj-info {
  max-width: 40rem;
  margin: 3rem 0;
}

.list-proj-info li {
  margin-left: 3rem;
}





/* MEDIA QUERIES */

@media (max-width: 75.4375rem) {
  .proj-details p {
    min-width: 20rem;
    padding: 0 1.5rem;
  }

  .align-right p {
    margin-bottom: 0;
  }

  #home-blurb {
    width: 55%;
    margin-left: 22.5%;
  }

  .arrow-down {
    margin-left: 47%;
  }
}

@media (max-width: 70rem) {
  .arrow-down {
    margin-left: 46%;
  }

  .img-proj {
    height: auto;
  }

  .proj-sub-header {
    margin-top: 4rem;
  }

}

@media (max-width: 65rem) {
  .arrow-down {
    margin-left: 45%;
  }
}

@media (max-width: 57.5rem) {
  .project {
    width: 100%;
  }
}

@media (max-width: 56.625rem) {
  .proj-details p {
    max-width: 100%;
  }

  #home-blurb {
    width: 60%;
    margin-left: 20%;
  }
}

@media (max-width: 52.9375rem) {

  .feature-img {
    height: 15rem;
  }

  .proj-blurb {
    margin-top: 1rem;
  }

  .proj-details {
    margin-top: 15rem;
    margin-left: 3rem;
  }

  #home-blurb {
    width: 80%;
    margin-left: 10%;
  }

  .img-proj-feature {
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .proj-sub-header {
    margin-top: 3rem;
  }

  .img-proj-details {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}

@media (max-width: 41.375rem) {
  .proj-blurb {
    margin-left: 0;
  }

  .proj-details {
    margin-left: 0;
  }
}

@media (max-width: 40.625rem) {
  nav#nav-main {
    display: none;
  }

  nav#nav-ham {
    display: block;
  }

  #home-blurb {
    font-size: 0.9rem;
    line-height: 1.75rem;
  }
}

@media (max-width: 38.9375rem) {

  .section-header {
    display: block;
  }

  #projects {
    margin-top: 2rem;
  }

  .proj-blurb p {
    margin-right: 3rem;
  }

  .proj-details p {
    width: 100%;
  }

  #home-blurb {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  #menu a {
    margin-left: 3rem;
  }

  #projects {
    margin-top: 15rem;
  }
}

@media (max-width: 36rem) {
  #menu a {
    margin-left: 4rem;
  }
}

/* @media (max-width: 35rem) {
  #menu a {
    margin-left: 5rem;
  }
} */

@media (max-width: 34.9375rem) {
  body {
    margin: 3rem 4rem;
  }

  #menu a {
    margin-left: 4.5rem;
  }

  .proj-sub-header {
    /* margin-top: 2rem; */
  }

  .proj-copy {
    margin-top: 1rem;
  }
}

@media (max-width: 32rem) {
  #menu a {
    margin-left: 5rem;
  }
}

@media (max-width: 30.5rem) {
  body {
    margin: 3rem 3rem;
  }

  .img-me-doodle {
    width: 5.5rem;
  }

  #menu a {
    margin-left: 7rem;
  }

  .project {
    height: 18.5rem;
  }
}

@media (max-width: 26rem) {
  #menu a {
    margin-left: 10rem;
  }
}

@media (max-width: 22rem) {
  body {
    margin: 3rem 2.5rem;
  }

  .img-me-doodle {
    width: 4.5rem;
  }

  #menu a {
    margin-left: 15rem;
  }
}
