body {
  margin: 3rem 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #6B6C6D;
}

header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

footer {
  margin-top: 2rem;
}

.footer-line {
  height: 2px;
  background-color: #B6B7BB;
  margin-bottom: 2rem;
}


#landing {
  padding-top: 10rem;
  text-align: center;
}

#home-blurb {
  display: block;
  line-height: 1.75rem;
  margin-top: 0rem;
}

#doodles {
  display: block;
}

#page-content {
  padding-top: 3rem;
}

#projects {
  display: block;
  text-align: center;
  margin-top: 8rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#projects .section-header {
  margin-bottom: 3rem;
}

.content {
  margin-top: 5rem;
}

.figure {
  display: block;
}

.bio {
  display: block;
  text-align: center;
}

.single-doodle {
  display: block;
}

.img-grid {
  display: block;
  text-align: center;
  margin-top: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.project {
  display: block;
  max-width: 40rem;
  height: 12rem;
  margin: auto;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.proj-page {
  display: block;
  text-align: center;
}

.proj-blurb {
  position: absolute;
  margin-left: 3rem;
  margin-top: -15rem;
  max-width: 30rem;
  line-height: 1.45rem;
}

.proj-details {
  margin-top: 3rem;
  margin-left: 3rem;
}

.proj-listing {
  max-width: 40rem;
  margin: auto;
  margin-bottom: 6rem;
  text-align: left;
}

.mint {
  color: #A7D2C9;
}

.red {
  color: #E7633E;
  opacity: 0.65;
}
