/* THE NAVIGATIONAL ELEMENTS OF THE SITE */

/* NAV LINKS (BUTTONS), AS IN THE HEADER AND MENU */
.nav-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  text-transform: uppercase;
  color: #A7A9AC;
  padding: 0rem 0.5rem;
}

/* THE NAVIGATIONAL ITEMS WHEN IN HEADER; NOT HIDDEN IN HAMBURGER MENU */
nav#nav-main {
  display: block;
  padding-top: 1.75rem;
  float: right;
}
