/* THE NAVIGATIONAL ELEMENTS OF THE SITE */

/* NAV LINKS (BUTTONS), AS IN THE HEADER AND MENU */
.nav-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1rem;
  display: inline-block;
  text-transform: uppercase;
  color: #A7A9AC;
  padding: 0.5rem 1.25rem;
}

/* THE NAVIGATIONAL ITEMS WHEN IN HEADER; NOT HIDDEN IN HAMBURGER MENU */
nav#nav-main {
  display: none;
  padding-top: 1.75rem;
  float: right;
}


/* WHEN THE HAMBURGER ICON (SPANS) ARE CLICKED, MAKE THE MENU VISIBLE */
#menu-toggle input:checked ~ div#menu {
  width: 41rem;
  height: 100rem;
  margin-top: -7rem;
  margin-left: -32rem;

  opacity: 1;
  display: block;
  visibility: visible;
}

/* NAVIGATIONAL MENU (TO BE OPENED BY HAMBURGER ICON) */
#menu {
  position: absolute;
  opacity: 0;
  display: none;
  visibility: hidden;
  text-align: center;
  padding-top: 15rem;

  background: #A7D2C9;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* transition found at: https://css-tricks.com/using-css-transitions-auto-dimensions/ */
  transition: height 0.2s ease-out;
}

/* CSS only hamburger menu found at https://codepen.io/erikterwan/pen/EVzeRP
because the js one we learned in class required refreshing the page & we were
hoping to do one that does not require that */

/* BY DEFAULT, HAMBURGER MENU IS DISPLAYED */
nav#nav-ham {
  display: block;
}

/* THE SPANS THAT MAKE UP THE LINES OF THE HAMBURGER ICON */
nav#nav-ham span {
  margin-left: 95%;
  /* float: right; */
  background: #DEE2E8;
}

/* PLACED INPUT CHECKBOX OVER HAMBURGER ICON TO DETERMINE IF CLICKED OR NOT */
nav#nav-ham input {
  margin-left: 90%;
}

/* DIV CONTAINING ALL HAMBURGER MENU ITEMS: SPANS, CHECKBOX, ACTUAL MENU LINKS */
#menu-toggle {
  display: block;
  position: relative;

  float: right;
  margin-right: 2rem;
  margin-top: 1.75rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menu-toggle input {
  display: block;
  width: 2rem;
  height:2rem;
  position: absolute;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* the three lines of the menu icon/symbol-- not sure if 'span' is semantic but this is how the tutorial does it and i think we need this in order to animate properly */

#menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #DEE2E8;
  border-radius: 3px;

  z-index: 1;

  transform-origin: rotate(45deg);

  transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.22s ease;
}


#menu-toggle span:first-child {
  transform-origin: 0% 0%;
}

#menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Transform all the lines of hamburger into an x */
/* transform the top line */
#menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, 9px);
  background: white;
}

/* hide the middle line */
#menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/* transform bottom line */
#menu-toggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 4px);
}
